<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let contact of contacts">
      <ion-grid> 
        <ion-row>
          <ion-label class="ion-text-wrap">
            <h2>{{contact.name}}</h2>
          </ion-label>
        </ion-row>
        <ion-row>
            <ion-col size="9" size-lg="9" size-xs="8">
          <a href="tel:{{contact.number}}">{{contact.number}}</a>
            </ion-col>
            <ion-col size="3" size-lg="3" size xs="3" *ngIf="contact.name !== 'First Aid Line (24 HRS)'">
                <ion-button block (click)="continueToEmail(contact.name)">E-mail</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
