<ion-header>
  <ion-toolbar color="secondary">
      <ion-title>
          Links
      </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let link of links" (click)="onClick(link)">
  <ion-item>
      <ion-icon name="{{ link.icon }}" slot="end"></ion-icon>
      <ion-label class="ion-text-wrap">{{ link.name }}</ion-label>
      <ion-icon name="arrow-forward" slot="end" color="light"></ion-icon>
  </ion-item>
  <ion-card-content>{{ link.description }}</ion-card-content>
  </ion-card>
</ion-content>
