<!--
  Mykyta Chernenky
  CS 455
  Report Incident page
-->

<ion-header>
    <ion-toolbar color="secondary">
        <ion-title>
            Select Incident
        </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content> <!-- loop through incidents and show incident titles -->
    <ion-card *ngFor="let incident of incidents" (click)="continueToForm(incident.title)">
    <ion-item>
        <ion-label class="ion-text-wrap, cardLabel">{{ incident.title }}</ion-label>
        <ion-icon name="arrow-forward" slot="end" color="light"></ion-icon>
    </ion-item>
    <ion-card-content>{{ incident.description }}</ion-card-content>
    </ion-card>
  </ion-content>
  