<!--
  Mykyta Chernenky
  CS 455
  Select Severity
-->


<ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Select Severity</ion-title>
      <ion-buttons>
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content> <!-- show all severities using ngFor to loop through them-->
      <ion-card *ngFor="let item of this.dataService.SelectedType.severities; index as i" button (click)="SelectSeverity(i)">
        <ion-card-content class="minor ion-text-center" *ngIf="i == 0">
          <div [innerHTML]="item"></div>
        </ion-card-content>
        <ion-card-content class="significant ion-text-center" *ngIf="i == 1">
          <div [innerHTML]="item"></div>
        </ion-card-content>
        <ion-card-content  class="major ion-text-center" *ngIf="i == 2">
          <div [innerHTML]="item"></div>
        </ion-card-content>
        <ion-card-content class="critical ion-text-center" *ngIf="i == 3">
          <div [innerHTML]="item"></div>
        </ion-card-content>
        </ion-card>
  </ion-content>
  